.calendar {
  background-color: #34363e;
  width: 266px;
  background-image: none;
  height: auto;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.calendar.dp .container-header {
  padding-top: 5px;
}
.calendar.dp .container-header .next,
.calendar.dp .container-header .prev {
  top: 10px;
}
.calendar ul,
.calendar li {
  margin: 0;
  padding: 0;
}
.calendar li {
  list-style-type: none;
}
.calendar table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
.calendar table tr,
.calendar table td {
  margin: 0;
  padding: 0 0 0 0 !important;
}
.calendar .container-header {
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}
.calendar .container-header .prev {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  position: absolute;
  left: 22px;
  top: 15px;
  width: 12px;
  height: 14px;
  background-position: 0 -148px;
}
.calendar .container-header .prev:hover,
.calendar .container-header .prev:focus {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -106px;
}
.calendar .container-header .prev.disable {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -134px;
  cursor: default;
}
.calendar .container-header .prev.disable:hover {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -134px;
}
.calendar .container-header .current {
  display: block;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 176px;
  color: #34363e;
  background-color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffffff), color-stop(50%, #e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff 50%, #e6e6e6 50%);
  background: -moz-linear-gradient(top, #ffffff 50%, #e6e6e6 50%);
  background: -o-linear-gradient(top, #ffffff 50%, #e6e6e6 50%);
  background: linear-gradient(top, #ffffff 50%, #e6e6e6 50%);
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.calendar .container-header .current .icon {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  display: none;
  position: absolute;
  background-position: 0 0;
  right: 5px;
  top: 9px;
  width: 14px;
  height: 8px;
}
.calendar .container-header .next {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  position: absolute;
  right: 22px;
  top: 15px;
  width: 12px;
  height: 14px;
  background-position: 0 -162px;
}
.calendar .container-header .next:hover,
.calendar .container-header .next:focus {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -92px;
}
.calendar .container-header .next.disable {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -120px;
  cursor: default;
}
.calendar .container-header .next.disable:hover {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -120px;
}
.calendar .container-header a {
  text-decoration: none;
  color: #34363e;
  font-weight: bold;
}
.calendar .container-header a .current:hover,
.calendar .container-header a .current:focus {
  background-color: #5be2ed;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #5be2ed), color-stop(50%, #2ddae8));
  background: -webkit-linear-gradient(top, #5be2ed 50%, #2ddae8 50%);
  background: -moz-linear-gradient(top, #5be2ed 50%, #2ddae8 50%);
  background: -o-linear-gradient(top, #5be2ed 50%, #2ddae8 50%);
  background: linear-gradient(top, #5be2ed 50%, #2ddae8 50%);
}
.calendar .container-header a .current:hover .icon,
.calendar .container-header a .current:focus .icon {
  display: block;
}
.calendar .container-header .months {
  width: 182px;
  left: 42px;
  background-color: white;
  position: absolute;
  top: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px #34363e;
  -moz-box-shadow: 0 0 20px #34363e;
  box-shadow: 0 0 20px #34363e;
  padding-top: 5px;
  padding-bottom: 5px;
}
.calendar .container-header .months li {
  text-align: center;
  cursor: pointer;
  color: #34363e;
  list-style: none;
}
.calendar .container-header .months li.selected {
  background-color: #5be2ed;
}
.calendar .container-header .months li a {
  display: block;
  padding: 3px;
  line-height: 18px;
}
.calendar .container-header .months li a:focus,
.calendar .container-header .months li a:hover {
  background-color: #5be2ed;
}
.calendar .container-body {
  background-color: #d6d6d6;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.calendar .container-body td {
  border: solid 1px #a3a3a3 !important;
  text-align: center;
  background-color: white;
}
.calendar .container-body td.selected a {
  background-color: #80b43f;
}
.calendar .container-body td.selected a:focus,
.calendar .container-body td.selected a:hover,
.calendar .container-body td.selected a.hover {
  background-color: #5be2ed;
}
.calendar .container-body td.prev-month,
.calendar .container-body td.next-month {
  background-color: #d6d6d6;
}
.calendar .container-body td.past a,
.calendar .container-body td.future a {
  color: #bdbdbd;
  cursor: default;
}
.calendar .container-body td.past a:focus,
.calendar .container-body td.future a:focus,
.calendar .container-body td.past a:hover,
.calendar .container-body td.future a:hover,
.calendar .container-body td.past a.hover,
.calendar .container-body td.future a.hover {
  background: none;
}
.calendar .container-body td a {
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.calendar .container-body td a:focus,
.calendar .container-body td a:hover,
.calendar .container-body td a.hover {
  background-color: #5be2ed;
}
.calendar .container-body thead td {
  background-color: #bdbdbd;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
.calendar .container-body thead td.weekend {
  background-color: #707070;
}
.calendar .container-body thead td span {
  display: block;
  width: 34px;
  height: 14px;
  line-height: 14px;
  margin: 0;
}
.calendar .container-body a {
  text-decoration: none;
  color: #34363e;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.datepicker_clearfix {
  *zoom: 1;
}
.datepicker_clearfix:before {
  content: "";
  display: table;
}
.datepicker_clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.datepicker_hidden {
  display: none !important;
  visibility: hidden;
}
.datepicker {
  font-family: arial, helvetica, clean, sans-serif !important;
  width: 266px;
  background-color: white;
  border: solid 1px #d6d6d6;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #34363e;
  -moz-box-shadow: 0 0 20px #34363e;
  box-shadow: 0 0 20px #34363e;
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
}
.datepicker div {
  display: block;
}
.datepicker .close {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -8px;
  cursor: pointer;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 28px;
  height: 28px;
}
.datepicker .close:hover,
.datepicker .close:focus {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -64px;
}
.datepicker .buttons {
  background-color: #d6d6d6;
  padding-left: 8px;
  padding-right: 8px;
}
.datepicker .buttons a {
  background-color: #34363e;
  color: white;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  display: block;
}
.datepicker .buttons a:focus,
.datepicker .buttons a:hover {
  background-color: #5be2ed;
  color: #34363e;
}
.datepicker .buttons a.disable {
  background-color: #a3a4a5;
  cursor: default;
}
.datepicker .buttons a.disable:focus,
.datepicker .buttons a.disable:hover {
  color: white;
  background-color: #a3a4a5;
}
.datepicker .buttons .flexible .icon {
  background: url('../img/datepicker-sa6760f618d.png') no-repeat;
  background-position: 0 -176px;
  margin-left: 10px;
  padding: 0;
  width: 19px;
  height: 26px;
}
.datepicker .buttons .flexible .text {
  font-weight: bold;
  padding: 5px;
  font-size: 13px;
}
.datepicker .buttons .flexible span {
  display: block;
  float: left;
}
.datepicker .buttons table {
  width: 250px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto 10px auto;
  padding: 0;
  background: none;
}
.datepicker .buttons table tr {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}
.datepicker .buttons table tr.last td {
  padding-bottom: 0;
}
.datepicker .buttons table td {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  padding-bottom: 6px;
}
.datepicker .buttons table td.td-left {
  width: 115px;
  padding-right: 5px;
  border-right: solid 1px #bdbdbd;
}
.datepicker .buttons table td.td-right {
  width: 120px;
  padding-left: 5px;
}
.datepicker .title {
  font-size: 12px;
  text-align: center;
  background-color: #34363e;
  font-weight: bold;
  padding-top: 5px;
  color: white;
  border-bottom: none;
  margin-bottom: 0;
  background-image: none;
  padding: 0;
  width: auto;
}
